/* Variabler */
$main-color: #e3170a;

$secondary-color: #36769d;

$third-color: #8acfe5;

$black-color: #011827;

$gray-color: #b6bdb5;

/* Fonter */
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* universal styling som tar bort margins etc */
* {
  border: 0;
  padding: 0;
  margin: 0;

  font-family: "Roboto", "sans-serif";
}

/* container styling och i det här fallet grid*/

.container {
  position: relative;
  width: 100%;
}

/* farg styling för knappar */
.primary-button {
  background-color: $main-color;
  color: white;
}

.secondary-button {
  background: $third-color;
  color: black;
  font-weight: bold;
}

.primary-dark-button {
  background-color: $black-color;
  color: $third-color;
}

/* tar bort stylingen ifrån a href länkarna */

a {
  color: black;
  text-decoration: none;
}

/* styling för headern och navigations menyn */

header {
  width: 100%;
  height: 216px;

  background-color: $black-color;

  .headerTop-container {
    display: flex;
    margin-top: 5px;
    .logo-container {
      position: relative;
      margin-top: 26px;
      width: 128px;
      height: 82px;

      border: 6px solid #ffffff;
      box-sizing: border-box;
      border-radius: 17px;
      margin-left: 27px;
      .logoText {
        position: absolute;
        bottom: 0;
        left: 5px;
        width: 70px;
        height: 45px;
        font-family: "Monofett", "cusive";
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #ffffff;
      }
    }

    .headerText-container {
      margin-top: 60px;
      margin-left: 19px;
      color: #ffffff;
      font-size: 20px;

      @media screen and (max-width: 800px) {
        margin-top: 26px;
        width: 20%;
        height: 50%;
        font-size: 12px;
      }
    }
  }

  nav {
    text-align: center;
    top: 25%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0% 20%;

    @media screen and (max-width: 800px) {
      display: none;
    }

    a {
      color: white;
      font-size: 24px;
      &:hover {
        color: $main-color;
      }
    }
    a:nth-child(4) {
      color: $third-color;
      &:hover {
        color: $main-color;
      }
    }
  }
}

/* Styling för den stora första bilden och knapparna nedanför  */

.main-picture {
  background-image: url("https://github.com/Nw84/Esc-Hacker-Escape-Rooms-/tree/main/img/hacker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 468px;
  width: 100%;
  @media screen and (max-width: 800px) {
    height: 274px;
    margin-top: -70px;
  }
}

.main-button-container {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 30px;

  /* styling for mobile version och Här ändrar jag till align items center och flex direction till column och sen ord 1 på main-buttons 1 child, så att on-site challenges kommer först*/

  @media screen and (max-width: 800px) {
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
  }
  .main-button {
    padding: 10px 25px;
    margin: 10px;
    border-radius: 3%;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }

    @media screen and (max-width: 800px) {
      margin: 0;

      &:nth-child(1) {
        order: 1;
        background-color: white;
        color: $secondary-color;
        text-decoration: underline;
        font-size: 10px;
      }
      &:nth-child(2) {
        float: left;
      }
    }
  }
}

/* Styling för testimonials delen och dess bilder */
.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .testimonial {
    width: 618px;
    height: 139px;
    display: flex;
    padding: 25px;
    font-style: italic;
    font-size: 24px;
    @media (max-width: 1480px) {
      font-size: 20px;
    }
    /*  Tar bort den första testimonial delen på mobil versionen   */
    @media screen and (max-width: 800px) {
      &:nth-child(1) {
        display: none;
      }
    }

    .testimonial-bild {
      background-image: url("/img/johnDoo.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      height: 116px;
      width: 274px;
      margin-right: 15px;
      margin-bottom: 30px;
      @media (max-width: 1480px) {
        height: 98px;
        width: 232px;
      }
    }

    .quote-author {
      font-size: 16px;

      @media (max-width: 1480px) {
        font-size: 12px;
      }
    }
  }
}

/* Styling för Popular Challenges delen */

.popular-container {
  margin-top: 30px;
  @media screen and (max-width: 800px) {
    position: relative;
    overflow-x: hidden;
    height: 70vh;
  }

  .popularHeader-container {
    text-align: center;
  }

  .popular-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .popularCard {
      width: 446px;
      height: auto;
      margin-left: 2%;
      border-radius: 8px;
      box-shadow: 0 0px 5px rgba(104, 104, 104, 0.8);

      &:nth-child(3) {
        margin-right: 2%;
      }

      @media (max-width: 1280px) {
        width: 363px;
      }

      @media screen and (max-width: 800px) {
        width: 80%;
        &:nth-child(2) {
          position: absolute;
          left: 94%;
        }
        &:nth-child(3) {
          display: none;
        }
      }
      .popularBild {
        background-image: url("/img/hacker.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        height: 20vh;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .popularTopText {
        margin-left: 10px;
        margin-top: 10px;
      }

      .popularRating-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 800px) {
          justify-content: left;
        }

        .popularRating {
          color: $main-color;
          margin-left: 10px;
          @media screen and (max-width: 800px) {
            margin-right: 15px;
          }
        }
        .popularRatingText {
          font-size: 1px;
          margin-right: 10px;
          @media screen and (max-width: 800px) {
            font-size: 10px;
          }
        }
      }

      .popularBottomText {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 12px;
        @media (max-width: 1280px) {
          font-size: 10px;
        }
        @media screen and (max-width: 800px) {
          font-size: 12px;
        }
      }
      .popularButton {
        padding: 5px 15px;
        margin: 10px;
        border-radius: 3%;
        float: right;

        &:hover {
          background-color: white;
          color: #4040a1;
          cursor: pointer;
        }
      }
    }
  }
}

/* Styling för Fullstory delen */

.fullStory-container {
  margin-top: 20px;

  .fullStory-button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    /* styling for mobile version och Här ändrar jag till align items center och flex direction till column och sen ord 1 på main-buttons 1 child, så att on-site challenges kommer först*/

    @media screen and (max-width: 800px) {
      margin-top: -160px;
      align-items: center;
      flex-direction: column;
    }
    .fullStory-button {
      padding: 10px 25px;
      margin: 10px;
      border-radius: 3%;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
      }

      @media screen and (max-width: 800px) {
        margin: 0;

        &:nth-child(1) {
          order: 1;
          background-color: white;
          color: $secondary-color;
          text-decoration: underline;
          font-size: 10px;
        }
        &:nth-child(2) {
          float: left;
        }
      }
    }
  }
  .fullStory-inner-container {
    display: flex;
    height: 500px;
    margin-top: 40px;

    background-color: $black-color;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    .middle-button {
      padding: 5px 15px;
      margin: 25px;
      border-radius: 3%;
      border: 1px solid #8acfe6;
      float: left;
    }

    .middle-button:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }

    .fullStoryText {
      margin-top: 20px;
      width: 60%;
      color: #ffffff;
      font-size: 24px;
      @media screen and (max-width: 800px) {
        width: 90%;
      }
    }
  }
}

/* Styling för bottomSektion delen */
.bottomSektion {
  display: flex;

  @media screen and (max-width: 800px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .leftPicture {
    background-image: url(/img/friends.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 100%;
      height: 300px;
    }
  }

  .rightPicture {
    background-image: url(/img/online.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 100%;
      height: 300px;
    }

    @media screen and (min-width: 800px) {
      order: 2;
    }
  }

  .bottomText-container {
    height: 460px;
    width: 50%;

    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
      width: 100%;
      height: 300px;
    }

    .bottomText-inner-container {
      padding: 15%;
      @media screen and (max-width: 800px) {
        padding: 1%;
      }

      .bottomTextHeader {
        padding: 10px;
      }

      .bottomText {
        padding: 10px;
      }

      .bottom-button {
        margin-left: 10px;
        padding: 10px 25px;
        margin: 10px;
        border-radius: 3%;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

/* Styling för footer delen */

footer {
  margin-top: 60px;
  width: 100%;
  height: 467px;
  background-color: $black-color;
  color: #ffffff;
  display: flex;

  @media screen and (max-width: 800px) {
    height: 566px;
    margin-top: 0px;
  }

  a {
    color: #ffffff;
  }

  .footer-container {
    justify-content: center;
    display: flex;
    margin-top: 4%;
    font-size: 18px;
    @media (max-width: 1280px) {
      margin-top: 8%;
      font-size: 14px;
    }
    @media screen and (max-width: 800px) {
      display: block;
      margin-top: 3%;
    }

    .footerText {
      width: 30%;
      margin-right: 10%;
      padding: 50px;

      @media screen and (max-width: 800px) {
        width: 90%;
        padding: 25px;
      }
    }

    .footer-navbar {
      width: 10%;
      padding: 50px;
      @media screen and (max-width: 800px) {
        padding: 25px;
        width: 20%;
      }
      li {
        list-style: none;
        padding: 1px;
        &:nth-child(3) {
          margin-bottom: 20px;
        }
        a:hover {
          color: $main-color;
        }
      }
    }

    .footer-socials {
      width: 10%;
      padding: 50px;
      @media screen and (max-width: 800px) {
        padding: 25px;
        width: 20%;
      }
      li {
        list-style: none;
        padding: 1px;
        a:hover {
          color: $main-color;
        }
      }
    }

    .footer-mainText {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
