/* Variabler */
$main-color: #e3170a;

$secondary-color: #36769d;

$third-color: #8acfe5;

$black-color: #011827;

$gray-color: #b6bdb5;

/* Fonter */
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* universal styling som tar bort margins etc */
* {
  border: 0;
  padding: 0;
  margin: 0;

  font-family: "Roboto", "sans-serif";
}

/* container styling och i det här fallet grid*/

.container {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 216px auto auto;
}

/* farg styling för knappar */
.primary-button {
  background-color: $main-color;
  color: white;
}

.secondary-button {
  background: $third-color;
  color: black;
  font-weight: bold;
}

.primary-dark-button {
  background-color: white;
  color: $third-color;
}

/* tar bort stylingen ifrån a href länkarna */

a {
  color: black;
  text-decoration: none;
}

/* styling för headern och navigations menyn */

.header {
  grid-column-start: 1;
  grid-column-end: 13;

  margin-top: 5px;

  background-color: $black-color;
}

@media screen and (max-width: 800px) {
  .header {
    height: 144px;
  }
}

.header-container {
  display: flex;
}

.logo-container {
  position: relative;
  margin-top: 26px;
  width: 128px;
  height: 82px;

  border: 6px solid #ffffff;
  box-sizing: border-box;
  border-radius: 17px;
  margin-left: 27px;
}

.logoText {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 70px;
  height: 45px;
  font-family: "Monofett", "cusive";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.headerText-container {
  margin-top: 60px;
  margin-left: 19px;
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .headerText-container {
    margin-top: 26px;
    width: 20%;
    height: 50%;
    font-size: 12px;
  }
}

.navbar-container {
  text-align: center;
  margin: 10px;
}

.navbar {
  margin-top: 168px;
  display: flex;
  justify-content: space-between;
  margin: 0% 20%;
  a {
    color: white;
    font-size: 24px;
  }
  a:nth-child(4) {
    color: $third-color;
  }
}

@media screen and (max-width: 800px) {
  .navbar-container {
    display: none;
  }
}

/* Styling för den stora första bilden och knapparna nedanför  */

.main-picture {
  background-image: url("/img/hacker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 100%;
  grid-column: 1 / 13;
}

@media screen and (max-width: 800px) {
  .main-picture {
    height: 274px;
    margin-top: -70px;
  }
}

.main-button-container {
  display: flex;
  grid-column: 1 / span 12;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .main-button-container {
    margin-top: 20px;
  }
}

.main-button {
  padding: 10px 25px;
  margin: 10px;
  border-radius: 3%;
  font-size: 16px;
}

.main-button:hover {
  cursor: pointer;
}

/* styling for mobile version och Här ändrar jag till align items center och flex direction till column och sen ord 1 på main-buttons 1 child, så att on-site challenges kommer först*/

@media screen and (max-width: 800px) {
  .main-button-container {
    align-items: center;
    flex-direction: column;
  }

  .main-button {
    margin: 0;
  }

  .main-button:nth-child(1) {
    order: 1;
    background-color: white;
    color: $secondary-color;
    text-decoration: underline;
    font-size: 10px;
  }

  .main-button {
    grid-column: 1 / span 12;
  }

  .main-button-right {
    float: left;
  }
}

/* Styling för testimonials delen och dess bilder */
.testimonial-container {
  grid-column-start: 1;
  grid-column-end: 26;

  display: grid;

  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: 160px auto auto;
}

.testimonial-1 {
  grid-column: 1 / span 11;
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
}

.testimonial-2 {
  grid-column: 13 / 26;
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
}

@media screen and (max-width: 800px) {
  .testimonial-1 {
    display: none;
  }
  .testimonial-2 {
    grid-column: 1 / 26;
  }
}

.testimonial-bild {
  background-image: url("/img/johnDoo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  height: 107px;
  width: 96px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
}

/* Styling för Popular Challenges delen */

.popularContainer {
  grid-column-start: 1;
  grid-column-end: 40;

  display: grid;

  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: 130px auto auto;
}

.popularHeader {
  text-align: center;
  grid-column: 1 / 40;
  margin-top: 50px;
}

.popular1 {
  grid-column: 2 / 14;
  box-shadow: 0 0px 5px rgba(104, 104, 104, 0.8);
}

.popular1Bild {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 20vh;
  width: 100%;
  grid-column: 1 / 40;
}

.popular2 {
  grid-column: 15/ 27;
  box-shadow: 0 0px 5px rgba(104, 104, 104, 0.8);
}

.popular2Bild {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 20vh;
  width: 100%;
  grid-column: 1 / 40;
}

.popular3 {
  grid-column: 28 / 40;
  box-shadow: 0 0px 5px rgba(104, 104, 104, 0.8);
}

.popular3Bild {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 20vh;
  width: 100%;
  grid-column: 1 / 40;
}

.popularTopText {
  padding: 5px 5px;
}

.popularTopUnderText {
  font-size: 12px;
}

.popularBottomText {
  padding: 5px 5px;
}

.popularButton {
  background-color: #4040a1;
  color: white;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 3%;
  float: right;
}

.popularButton:hover {
  background-color: white;
  color: #4040a1;
  cursor: pointer;
}

/* Styling för readFullstory delen */

.readFullStory-container {
  grid-column-start: 1;
  grid-column-end: 24;
  display: grid;

  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 50px auto auto;
  margin-top: 60px;
}

.middle-button {
  background-color: white;
  color: #4040a1;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 3%;
  border: 2px solid;
  border-color: gray;
}

.middle-button:hover {
  cursor: pointer;
  background-color: #4040a1;
  color: white;
}

.fullStory-button1 {
  grid-column: 6 / 12;
}

.fullStory-button2 {
  grid-column: 12 / 18;
}

.fullStoryText {
  grid-column: 6 / 19;
  margin-top: 100px;
  margin-bottom: 20px;
}

.fullStory-button3 {
  grid-column: 8 / 16;
  margin-bottom: 50px;
}

/* Styling för bottomSektion delen */
.bottomSektion {
  grid-column-start: 1;
  grid-column-end: 24;
  display: grid;

  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 300px auto auto;
  margin-top: 60px;
  margin-bottom: 90px;
}

.leftPicture {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  grid-column: 1 / span 12;
}

.rightTextContainer {
  grid-column: 13 / span 24;
  padding: 40px;
}

.bottomTextHeader {
  padding: 10px;
}

.bottomText {
  padding: 10px;
}

.rightPicture {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  grid-column: 13 / span 24;
}

.leftTextContainer {
  grid-column: 1 / span 12;
  padding: 40px;
}

/* Styling för footer delen */

.footer-container {
  grid-column-start: 1;
  grid-column-end: 24;
  display: grid;

  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 240px auto auto;

  background-color: lightgray;
}

.footerText {
  margin-top: 60px;
  grid-column: 2 / 9;
}

.footer-navbar {
  margin-top: 60px;
  grid-column: 12 / 14;
}

.footer-socials {
  margin-top: 60px;
  grid-column: 17 / 20;
}

.footer-mainText {
  font-weight: bold;
}
